/* general reset */

body {
  margin: 0px;
  width: 100vw;
  padding: 0px;
  box-sizing: border-box;
}





@media screen and (min-width: 576px) {
  body{
    min-width: 576px
  }
    header {
    background-color: green;
    width: 100vw;
    padding: 20px;
    text-align: center;
  }
  img {
    width: 100%;
    margin: 10px;
    background-color: green;
  }
  p {
    padding: 10px;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  header {
    background-color: green;
    width: 100%;
    
    height: 20%;
    padding: 20px;
    text-align: center;
  }
  main {
    width: 100vw;
    height: 70%;
    background-color: white;
  }

  img {
    width: 48%;
    display: inline-block;
    background-color: green;
    float: left;
    box-sizing: border-box;
  }
  p {
    display: inline-block;
    width: 48%;
    float: right;
    box-sizing: border-box;
  }
}

@media (min-width: 1200px) {
  header {
    background-color: green;
    width: 100%;
    height: 20%;
    padding: 20px;
    text-align: center;
  }
  main {
    width: 100vw;
    height: 70%;
    background-color: white;
  }
  section {
    width: 33%;
    height: 100%;
    display: inline-block;
  }

  img {
    width: 100%;
    display: block;
    background-color: green;
    box-sizing: border-box;
  }
  p {
    width: 100%;
    box-sizing: border-box;
  }
}
