/* general reset */

body {
  margin: 0px;
  width: 100vw;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}


/* general design for mobile */


  
header {
  background-color: rgb(146, 231, 146);
  width: 100vw;
  padding: 20px;  
  text-align: center;
}

main{
  background-color: white;
    padding:2px;   
}
img {
  width: 100%;
  margin: 10px;
  background-color: rgb(146, 231, 146);
}
p {
  padding: 10px;
}

footer{
    background-color: rgb(146, 231, 146);
    min-height: 20vh;    
    width: 100vw;
}

/* tablet */
@media screen and (min-width: 768px) {
  
  main {   
    padding:4px;    
  }
  img {
    width: 48%;     
    float: left;   
  }
  p {
    width: 48%;
    float: right;
    box-sizing: border-box;
  }
  /* important to put clear ,when you are using float in ur design */
  footer{
      width:100%;
      clear:both;
  }
}

@media (min-width: 1200px) {
  
  section {
    width: 32%;
    height: 100%;
    margin-left:2px;
    display: inline-block;
    box-sizing: border-box;
  }
  img,p {
    width: 100%;
    display: block;    
  }  
}
